<script>
  $(document).ready(function(){

    $('#questions').infinitescroll({
      navSelector: "nav.pagination", 
      nextSelector: "nav.pagination a[rel=next]", 
      itemSelector: "#questions div.question" 
    });
  });
</script>

<div class="container-padding">
  <%= render 'carousel'  %>
  <br>
  <div class="category-links">
    <%= link_to "All", filter_questions_path %>
    <% @categories.each do |category| %>
      | <%= link_to category.label, filter_questions_path(status: params[:status],category_name:category.name) %>
  <% end %>
</div>
<div class="questions" id="questions">
  <div class="page">
    <%= render @questions %>
  </div>
</div>
</div>
<%= paginate @questions %>
<%= render 'shared/comment_count' unless Rails.env.test?%>
